# Server ignores, ignores all in the configfiles folder, but includes the basic files 
[Ss]erverManager/[Cc]onfigfiles/**
![Ss]erverManager/[Cc]onfigfiles/[Bb]altic_Sea_basic**
![Ss]erverManager/[Cc]onfigfiles/[Bb]altic_Sea_basic/Baltic_Sea_basic_1.json**
![Ss]erverManager/[Cc]onfigfiles/[Cc]lyde_marine_region_basic**
![Ss]erverManager/[Cc]onfigfiles/[Cc]lyde_marine_region_basic/Clyde_marine_region_basic_1.json**
![Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_basic**
![Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_basic/North_Sea_basic_1.json**
![Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_Digitwin_basic**
![Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_Digitwin_basic/North_Sea_Digitwin_basic_1.json**
![Ss]erverManager/[Cc]onfigfiles/[Aa]driatic_Sea_basic**
![Ss]erverManager/[Cc]onfigfiles/[Aa]driatic_Sea_basic/Adriatic_Sea_basic_1.json**
[Ee]xport/**
![Ee]xport/DONOTREMOVE.txt**
[Ff]iles/**
[Ss]cripts/**
[Rr]aster/**
![Rr]aster/DONOTREMOVE.txt**
running_session_config/**
[Ss]erverManager/[Ll]og/**
![Ss]erverManager/[Ll]og/DONOTREMOVE.txt**
ServerManager/saves/**
[Ss]erverManager/[Ss]aves/[Aa]rchive/**
![Ss]erverManager/[Ss]aves/[Aa]rchive/DONOTREMOVE.txt**
[Ss]erverManager/[Ss]ession_archive/**
![Ss]erverManager/[Ss]ession_archive/DONOTREMOVE.txt**
[Ss]ession_archive/**
![Ss]ession_archive/DONOTREMOVE.txt**
[Ss]imulations/MEL/**/*_Log.xml

#Stuff for Simulations
Simulations/MEL/EwE/**

# Visual Studio cache directory
.vs/
.vscode/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.bak
*.vsconfig

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*

# PHPStorm project
.idea

