services:
  php:
    image: docker-hub.mspchallenge.info/cradlewebmaster/msp-challenge-server:staging
    volumes:
      - ./running_session_config/:/app/running_session_config
      - ./raster/:/app/raster
      - ./session_archive/:/app/session_archive
      - configfiles_data:/app/ServerManager/configfiles
      - ./ServerManager/session_archive/:/app/ServerManager/session_archive
      - ./ServerManager/saves/:/app/ServerManager/saves
      - ./public/downloads/:/app/public/downloads
      - /app/var/cache
      - ./.secrets:/app/.secrets
    environment:
      SERVER_NAME: ${SERVER_NAME:-:80}
      APP_SECRET: ${APP_SECRET}
      MERCURE_PUBLISHER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET}
      MERCURE_SUBSCRIBER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET}
      URL_WEB_SERVER_HOST: ${URL_WEB_SERVER_HOST:-host.docker.internal}
      URL_WS_SERVER_HOST: ${URL_WS_SERVER_HOST:-host.docker.internal}
    ports:
      # HTTP
      - target: 80
        published: ${WEB_SERVER_PORT:-${HTTP_PORT:-80}}
        protocol: tcp

  simulations:
    image: docker-hub.mspchallenge.info/cradlewebmaster/msp-challenge-simulations:staging

volumes:
  configfiles_data: