{% extends 'base.html.twig' %}

{% block subtitle %}Errors{% endblock %}

{% block body %}
<div class="container-fluid px-4" data-controller="logs">
    <h1 class="mt-4 mb-3">Error Logs Dashboard</h1>
    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table table-hover table-striped" id="logs-table">
            <thead>
                <tr>
                    <th style="width: 120px;">Created</th>
                    <th style="width: 120px;">Source</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody data-logs-target="logs"></tbody>
        </table>
    </div>
</div>
{% endblock %}