{% extends 'base.html.twig' %}

{% block subtitle %}Errors{% endblock %}

{% block body %}
<div class="container-fluid px-4" data-controller="logs">
    <h1 class="mt-4 mb-3">Error Logs Dashboard</h1>
    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table table-dark table-striped table-bordered mb-0" id="logs-table">
            <thead>
                <tr>
                    <th style="width: 120px;">Time</th>
                    <th style="width: 120px;">Source</th>
                    <th style="width: 120px;">Channel</th>
                    <th style="width: 120px;">Severity</th>
                    <th>Message</th>
                    <th>Stack Trace</th>
                </tr>
            </thead>
            <tbody data-logs-target="logs"></tbody>
        </table>
    </div>
</div>
{% endblock %}
