<div class="modal fade" tabindex="-1" aria-hidden="true" data-modal-default-target="modalDefault"
    data-action="modal-closing@window->modal-default#closeModalDefault modal-opening@window->modal-default#openModalDefault">>
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modalDefaultTitle"></h1>
                <button type="button" class="btn-close" data-action="modal-default#closeModalDefault"></button>
            </div>
            <turbo-frame id="modalDefaultBody" src="">
            </turbo-frame>
            {% block page_specific %}{% endblock %}
        </div>
    </div>
</div>