<turbo-frame id="logToastBodyTurboFrame">
    {% for logLines in logToastBody %}
        <div>
        {{ logLines | replace(
            {
                'INFO:': '<span style="color: green;">INFO:</span>',
                'NOTICE:': '<span style="color: green;">NOTICE:</span>',
                'ERROR:': '<span style="color: red;">ERROR:</span>',
                'WARNING:': '<span style="color: navy;">WARNING:</span>',
                'DEBUG:': '<span style="color: grey;">DEBUG:</span>',
            }
        ) | raw}}
        </div>
    {% endfor %}
</turbo-frame>
