<turbo-frame id="gameLog{{ type }}">
    {% for logLines in logToastBody %}
        <ul class="list-group">
        <li class="text-break list-group-item {{ logLines | replace(
            {
                'INFO:': 'list-group-item-primary">',
                'NOTICE:': 'list-group-item-success">',
                'ERROR:': 'list-group-item-danger">',
                'WARNING:': 'list-group-item-warning">',
                'DEBUG:': 'list-group-item-light">',
            }
        ) | raw}}</li>
        </ul>
    {% endfor %}
</turbo-frame>
