<div class="modal fade" tabindex="-1" aria-hidden="true" data-modal-default-target="modalSessionAccess">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Session User Access</h1>
                <button type="button" class="btn-close" data-action="modal-default#closeSessionAccessModal"></button>
            </div>
            {% set src = path('manager_game_access') %}
            <turbo-frame id="gameAccess" src="{{ src }}">
            </turbo-frame>
        </div>
    </div>
</div>