{
	skip_install_trust

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

http://php:80, {$SERVER_NAME:localhost} {
    @blockApi {
        path /api/getandaddpdutoList
    }
    respond @blockApi 403 {
        close
    }

    @phpFile {
        path /ServerManager/*.php*
    }
    error @phpFile "Not found" 404

    @apiWithSessionId {
        path_regexp sessionIdPath ^/([^/]+)/api/(.*)$
    }
    header @apiWithSessionId X-Session-ID {re.sessionIdPath.1}

	log {
		{$CADDY_SERVER_LOG_OPTIONS}
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	root /app/public
	encode zstd br gzip

	mercure {
		# Publisher JWT key
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
		# Subscriber JWT key
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
		# Allow anonymous subscribers (double-check that it's what you want)
		anonymous
		# Enable the subscription API (double-check that it's what you want)
		subscriptions
		# Extra directives
		{$MERCURE_EXTRA_DIRECTIVES}
	}

	vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

    # as proposed by Symfony docker but not working with websocket /ws/
    @phpRoute {
        not path /.well-known/mercure*
        not path /ws/*
        not file {path}
    }
    rewrite @phpRoute index.php

    @frontController path index.php
    php @frontController

    file_server {
        hide *.php
    }

    @websocket {
        path /ws/*
    }

    reverse_proxy @websocket http://php:{$WS_SERVER_PORT:45001} {
        # Additional reverse proxy options if needed
    }
}
