<div class="modal fade" tabindex="-1" aria-hidden="true" data-modal-default-target="modal">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="newSessionModalLabel">{{ modalTitle }}</h1>
                <button type="button" class="btn btn-danger" data-action="modal-default#closeModal">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
            {{ render(controller(
                formController
            )) }}
        </div>
    </div>
</div>