{% extends 'base.html.twig' %}

{% block title %}New Server Manager{% endblock %}

{% block body %}

<div class="tab-pane fade" id="tabSettings" role="tabpanel" aria-labelledby="tabSettings-tab">
    <p>Here you can change various settings of this MSP Challenge server.</p>
    <div class="card-deck">

        <div class="card">
            <div class="card-header">
                User Access
            </div>
            <div class="card-body">
                <p class="card-text">The other users that should have access to this MSP Challenge server. Note that only this server's administrator(s) can change this.</p>
            </div>
            <div class="card-footer">
                <button type="button" id="btnUserAccess" class="btn btn-primary  pull-left" data-toggle="modal" data-target="#modalUserAccess">Change</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Simulation Servers
            </div>
            <div class="card-body">
                <p class="card-text">Any simulation servers additional to this one, if you would rather have the background simulations run on a different computer than this one.</p>
            </div>
            <div class="card-footer">
                <button type="button" id="btnSimServer" class="btn btn-primary  pull-left" data-toggle="modal" data-target="#modalNewSimServers">Change</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                GeoServers
            </div>
            <div class="card-body">
                <p class="card-text">Any GeoServers to which you have access, and which have been set up to work with the MSP Challenge Simulation Platform, in addition to the default public MSP Challenge GeoServer used by default.</p>
            </div>
            <div class="card-footer">
                <button type="button" id="btnGeoServer" class="btn btn-primary  pull-left" data-toggle="modal" data-target="#modalNewGeoServers">Change</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Server Address
            </div>
            <div class="card-body">
                <p class="card-text">The address of this MSP Challenge server. Only change this if you are experiencing connection problems and expect setting an IP address or fully-qualified domain name here would help.<?php //The address of this MSP Challenge server, its name, and its description text users see when they connect to it using the MSP Challenge client.?></p>
            </div>
            <div class="card-footer">
                <button type="button" id="btnServerDetails" class="btn btn-primary  pull-left" data-toggle="modal" data-target="#modalServerDetails">Change</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Server Address, Name, Description -->
<div class="modal fade" id="modalServerDetails" tabindex="-1" role="dialog" aria-labelledby="ServerDetailsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ServerDetailsModalLabel">Server Name, Description & Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" data-toggle="validator" id="formServerDetails" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="GameServerAddress">MSP Challenge Server name</label>
                        <input type="text" class="form-control" id="ServerName" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="GameServerAddress">MSP Challenge Server description</label>
                        <textarea class="form-control" id="ServerDescription" rows="3" required="required"/></textarea>
                    </div>
                    <div class="form-group">
                        <label for="GameServerAddress">MSP Challenge Server machine's address</label>
                        <input type="text" class="form-control" id="ServerAddress" required="required"/>
                    </div>
                    <p>The default value is 'localhost'. This value makes MSP Challenge determine your current IP address automatically. In some cases that automatically determined IP address turns out to be erroneous or inaccessible, causing connection problems for MSP Challenge clients and any externally hosted background simulations. In those cases you can specify the public IP address or fully-qualified domain name of this machine below. Note that local IP addresses tend to change, so as soon as that happens you will have to specify the new exact IP address here again. If everything works well, then leave this setting alone.</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onClick="editServerManager();">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: New Simulation Servers -->
<div class="modal fade" id="modalNewSimServers" tabindex="-1" role="dialog" aria-labelledby="NewSimServersModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="NewSimServersModalLabel">Simulation Servers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="watchdogServerTable" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>Simulation Server Name</th>
                        <th>IP Address</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="watchdogServerBody">
                    </tbody>
                </table>
                <form class="form-horizontal" role="form" data-toggle="validator" id="formNewWatchdogServer" enctype="multipart/form-data">
                    <input type="hidden" id="editWatchdogID">
                    <h5 id="WatchdogFormTitle">Add additional simulation server</h5>
                    <div class="row">
                        <div class="col">
                            <label for="newWatchdogServerName">Simulation Server Name</label>
                            <input type="text" class="form-control" id="newWatchdogServerName" required="required" placeholder="required">
                        </div>
                        <div class="col">
                            <label for="newWatchdogServerAddress">IP Address</label>
                            <input type="text" class="form-control" id="newWatchdogServerAddress" required="required" placeholder="required">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="WatchdogFormButton" onClick="submitNewWatchdogServer();">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: New Geo Servers -->
<div class="modal fade" id="modalNewGeoServers" tabindex="-1" role="dialog" aria-labelledby="NewGeoServersModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="NewGeoServersModalLabel">GeoServers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="GeoServerTable" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>GeoServer Name</th>
                        <th>Fully-qualified URL</th>
                        <th style="width: 75px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="GeoServerBody">
                    </tbody>
                </table>
                <form class="form-horizontal" role="form" data-toggle="validator" id="formNewGeoServer">
                    <input type="hidden" id="editGeoserverID">
                    <h5 id="GeoServerFormTitle">Add a new GeoServer</h5>
                    <div class="form-group">
                        <label for="newGeoServerName">GeoServer Name</label>
                        <input type="text" class="form-control" id="newGeoServerName" required="required" placeholder="required">
                    </div>
                    <div class="form-group">
                        <label for="newGeoServerAddress">Fully-qualified URL</label>
                        <input type="text" class="form-control" id="newGeoServerAddress" required="required" placeholder="required">
                    </div>
                    <div class="form-group">
                        <label for="newGeoServerUsername">Username</label>
                        <input type="text" class="form-control" id="newGeoServerUsername" required="required" placeholder="required">
                    </div>
                    <div class="form-group">
                        <label for="newGeoServerPassword">Password</label>
                        <input type="text" class="form-control" id="newGeoServerPassword" required="required" placeholder="required">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="GeoServerFormButton" onClick="submitNewGeoServer();">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal User Access -->
<div class="modal fade" id="modalUserAccess" tabindex="-1" role="dialog" aria-labelledby="UserAccessModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="UserAccessModalLabel">User Access</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Note: if you are not an administrator for this Server Manager, then you'll only see your own
                    account in the list below, and you won't be able to add other users to this Server Manager.
                </p>
                <table id="UserAccessTable" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Administrator?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="UserAccessBody">
                    </tbody>
                </table>
                <form class="form-horizontal" role="form" data-toggle="validator" id="formNewUserAccess" enctype="multipart/form-data">
                    <h5 id="WatchdogFormTitle">Add additional users</h5>
                    <div class="row">
                        <div class="col">
                            <label for="newUserAccess">Username or e-mail address</label>
                            <input type="text" class="form-control" id="newUserAccess" required="required" placeholder="required">
                        </div>
                        <div class="col">
                            <label for="newUserAccessAdmin">Administrator</label>
                            <input type="checkbox" class="form-control" id="newUserAccessAdmin">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="UserAccessFormButton" onClick="submitNewUserAccess();">Add</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}