<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IEcobaseWDSL" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sirs.agrocampus-ouest.fr/EcoBase/php/webser/soap-server.php"
                binding="basicHttpBinding" bindingConfiguration="IEcobaseWDSL"
                contract="getResultPortType" name="getResultPort" />
        </client>
    </system.serviceModel>
</configuration>