# https://docs.fluentbit.io/manual/data-pipeline/parsers
parsers:
  - name: symfony
    format: json
    time_key: datetime
    time_format: "%Y-%m-%dT%H:%M:%S.%L%z"
    decode_field_as: escaped message
  - name: simulations
    format: json

pipeline:
  # https://docs.fluentbit.io/manual/data-pipeline/inputs
  inputs:
    # test logs
#    - name: tail
#      path: /fluent-bit/etc/test-logs/symfony.log
#      parser: symfony
#      tag: symfony.test
#      skip_long_lines: on
#      read_from_head: on
#    - name: tail
#      path: /fluent-bit/etc/test-logs/simulations.log
#      multiline.parser: docker
#      tag: simulations.test
#      skip_long_lines: on
#      read_from_head: on
#      processors:
#        logs:
#          - name: content_modifier
#            action: rename
#            key: time
#            value: datetime
#          - name: content_modifier
#            action: insert
#            key: channel
#            value: simulations
#    - name: tail
#      path: /fluent-bit/etc/test-logs/session.log
#      parser: symfony
#      tag: symfony.session.test
#      mem_buf_limit: 10MB
#      skip_long_lines: on
#      read_from_head: on
  # app logs
    - name: tail
      path: /var/log/symfony/*.log
      parser: symfony
      tag: symfony
      mem_buf_limit: 10MB
      skip_long_lines: on
      read_from_head: on
    - name: tail
      path: /var/log/session/*.log
      parser: symfony
      tag: symfony.session
      mem_buf_limit: 10MB
      skip_long_lines: on
      read_from_head: on
    - name: tail
      path: __SIMULATIONS_LOG_PATH__
      multiline.parser: docker
      tag: simulations
      mem_buf_limit: 10MB
      skip_long_lines: on
      read_from_head: on
      processors:
        logs:
          - name: content_modifier
            action: rename
            key: time
            value: datetime
          - name: content_modifier
            action: insert
            key: channel
            value: simulations
  # filters
  filters:
    - name: grep
      match: symfony*
      regex:
        - level_name ^(EMERGENCY|ALERT|CRITICAL|ERROR)$
    - name: grep
      match: simulations*
      regex:
        - stream ^stderr$
    - name: parser
      match: simulations*
      key_name: log
      parser: simulations
      reserve_data: true
  # https://docs.fluentbit.io/manual/data-pipeline/outputs
  outputs:
    - name: stdout
      match: "*"
      json_date_key: datetime
      json_date_format: iso8601
      format: json_lines
