# https://docs.fluentbit.io/manual/data-pipeline/parsers
parsers:
  - name: symfony
    format: regex
    # test on https://regex101.com/
    regex: |
      ^\[(?<time>[^\]]+)\] (?<channel>\w+)\.(?<severity>\w+): (?<message>.*?)( (?<stack_trace>\{.*\}))?\s*\[\]$
    time_key: time
    time_format: "%Y-%m-%dT%H:%M:%S.%L%z"

pipeline:
  # https://docs.fluentbit.io/manual/data-pipeline/inputs
  inputs:
    - name: tail
      path: /var/log/symfony/*.log
      parser: symfony
      tag: symfony
      db: /fluent-bit/output/symfony.db
      mem_buf_limit: 10MB
      skip_long_lines: on
      skip_empty_lines: on
    - name: tail
      path: __SIMULATIONS_LOG_PATH__
      multiline.parser: docker
      tag: simulations
      db: /fluent-bit/output/simulations.db
      mem_buf_limit: 10MB
      skip_long_lines: on
      skip_empty_lines: on
    - name: tail
      path: /var/log/supervisor/app-ws-server.log
      tag: app-ws-server
      db: /fluent-bit/output/app-ws-server.db
      mem_buf_limit: 5MB
      skip_long_lines: on
      skip_empty_lines: on
    - name: tail
      path: /var/log/supervisor/messenger-*.log
      tag: messenger
      db: /fluent-bit/output/messenger.db
      mem_buf_limit: 5MB
      skip_long_lines: on
      skip_empty_lines: on
    # test logs
    - name: tail
      path: /fluent-bit/etc/test-logs/symfony.log
      parser: symfony
      tag: symfony.test
      read_from_head: on
    - name: tail
      path: /fluent-bit/etc/test-logs/simulations.log
      multiline.parser: docker
      tag: simulations.test
      read_from_head: on
  filters:
    - name: grep
      match: symfony*
      regex:
        - severity ^CRITICAL$
    - name: grep
      match: simulations*
      regex: log (?i).*exception.*
    - name: grep
      match: messenger-*
      regex: log (?i).*exception.*
    - name: grep
      match: app-ws-server
      regex: log (?i).*exception.*
    - name: modify
      match: symfony*
      Add:
        - tag symfony
    - name: modify
      match: simulations*
      Add:
        - tag simulations
    - name: modify
      match: app-ws-server
      Add:
        - tag app-ws-server
    - name: modify
      match: messenger
      Add:
        - tag messenger
  # https://docs.fluentbit.io/manual/data-pipeline/outputs
  outputs:
    - name: stdout
      match: "*"
      json_date_key: time
      json_date_format: iso8601
      format: json_lines
