security:
    # Symfony 6+ The "enable_authenticator_manager" option at "security" is deprecated.
    # enable_authenticator_manager: true

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        local_users:
            entity:
                class: 'App\Entity\ServerManager\User'
                property: 'username'
                manager_name: 'msp_server_manager'
        jwt:
            lexik_jwt:
                class: App\Domain\API\v1\User
    firewalls:
        # activate different ways to authenticate
        # https://symfony.com/doc/current/security.html#the-firewall
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        open:
            pattern: ^/(api/doc(\.json)?|manager/gamelist|\d+/api/(User/RequestToken|User/RequestSession|[g|G]ame/CreatePOVConfig))
            security: false
        api:
            pattern: '%app.firewall_api_pattern%'
            stateless: true
            jwt: ~
            provider: jwt
        manager:
            pattern: ^/(manager|ServerManager)
            provider: local_users
            lazy: true
            custom_authenticators:
                - App\Security\MSPAuth2Authenticator

    access_control:
        - { path: ^/\/*\d+/\/*api/\/*(GameSession/\w+|Plan/ExportPlansToJson|[s|S]imulation/GetWatchdogTokenForServer|User/getProviders|User/checkExists|[g|G]ame/StartWatchdog|[g|G]ame/Config|Layer/MetaByName), roles: PUBLIC_ACCESS }
        - { path: '%app.firewall_api_pattern%', roles: IS_AUTHENTICATED_FULLY }
