
body {
	font-family: 'robotoregular';
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-image: url('../images/Main_HEADER_003.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#logo_header {
	float: left;
	padding: 10px;
	/* height: 50px; */
}

nav a.title {
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-position: left;
	display: inline-block;
	padding-left: 40px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
	height: 100%;
	min-height: 28px;
	font-size: 23px;
	color: #e3e3e3;
	padding-top: 3px;
}
  

.navbar-header h3 {
	color: white;
	margin-top: 0.5em;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 23px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #e3e3e3;
}

.tab-content {
	padding: 1.2em 1.0em 1.0em 1.0em;
}

.navbar-new {
	background-color: #555555;
	height: auto;
	border-bottom: 1px solid #aaa;
}

#navbar {
	display: block;
	float: right;
	padding-top: 8px;
}

.navbar {
    /* display: block !important; */
    margin: auto;
    max-width: 1000px;
    padding: .5em;
    background-color: #555555;
    height: auto;
}

 
.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav {
	display: block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	margin-left: auto !important;
	list-style: none;
}

.navbar-nav > li {
	padding-left: .5rem !important;
	padding-right: .5rem !important;
	padding-top: .5rem !important;
	float: left;
	position: relative;
	color: #e3e3e3;
}

.navbar-nav a {
	color: #e3e3e3;
	padding: 0 !important; 
}


nav a, nav a:visited, a.btn, a.btn:visited {
    color: #e3e3e3;
 }

 #navbarsExample03 {
    display: inline-block;
    vertical-align: middle;
    float: right;
  }

#page-wrapper {
	padding: 0;
	background: none;
}

#page-wrapper .container {
	background: rgba(255,255,255,0.3);
	padding: 5px;
	padding-top: 15px;
}

.card {
	background: transparent;
}

#myTab {
	border-bottom: 1px solid #b0abab;
	margin: 0px 1.0em 0px 1.0em;
}

#myTab .nav-link.active, #myTab .nav-link.active:hover {
	background-color: #edf0f3;
	border-top-color: #b0abab;
	border-left-color:  #b0abab;
	border-right-color:  #b0abab;
	border-bottom-color: transparent;
}

#myTab .nav-link:hover {
	background-color: transparent;
	border-top-color: #b0abab;
	border-left-color:  #b0abab;
	border-right-color:  #b0abab;
}

#myTab .nav-link {
	background-color: transparent;
	border-top-color: #d3d0d0;
	border-left-color:  #d3d0d0;
	border-right-color:  #d3d0d0;
}

#myTab  > li.active > a, #myTab > li.active > a:focus, #myTab > li.active > a:hover {
	background-color: #f5f5f5;
}

.nav-item {
	margin: 0px 0px 0px 3px;
}

.tablesorter-default {
	background-color: inherit !important;
}

.grayed_out {
	color: lightgray;
}

a.hoverinfo {
	text-decoration: underline dashed blue;
}

.state_fastforward {
	color: darkorchid;
	font-weight: bold;
}

.state_play {
	color: green;
	font-weight: bold;
}
.state_pause {
	color: orange;
	font-weight: bold;
}
.state_end {
	color: navy;
	font-weight: bold;
}
.state_archived {
	color: grey;
	font-weight: bold;
}
.state_healthy {
	color: green;
	font-weight: bold;
}
.state_failed {
	color: red;
	font-weight: bold;
}
.state_simulation {
	color: deepskyblue;
	font-weight: bold;
}
.state_request {
	color: orchid;
	font-weight: bold;
}
.state_initializing {
	color: darkseagreen;
	font-weight: bold;
}

.state_setup {
	color: steelblue;
	font-weight: bold;
}

.info_icon {
	color: steelblue;
	font-weight: bold;
}

.hidden_icon {
	visibility: hidden;
}

.clickable {
	cursor: pointer;
}

.collapsed.foldout_icon:before {
	/* color: green; */
	font-family: "FontAwesome";
    content: "\f056";
}

.foldout_icon:before {
	/* color: red; */
	font-family: "FontAwesome";
    content: "\f055";
}

div#sessionsList, div#savesList, div#configVersionsList {
	padding-top: 15px;
	padding-bottom: 15px;
}

#sessionsTable td, #savesTable td, #configVersionsTable td {
	min-width: 50px;
	max-width: 320px;
	padding: .5rem;
}

#radioFilterSessionsList,
#radioFilterSavesList,
#radioFilterConfigVersionsList {
	border: solid thin darkgrey;
    border-radius: 5px;
    padding: 5px 10px;
	/* margin: 0 3.0em 0 0.5em; */
	
}

#sessionInfoList p,
#configVersionsInfoList p {
	font-size: smaller;
	margin: 0;
}

#sessionInfoList li.list-group-item,
#configVersionsInfoList li.list-group-item {
	padding: 5px 10px;
}

.sessionInfoName,
.configVersionInfoName {
	background-color: aqua;
	font-weight: bold;
	text-align: center;
}

.sessionInfoKey,
.configVersionInfoKey {
	font-weight: bold;
}

.sessionInfoValue,
.configVersionInfoValue {
	text-align: right;
}

.sessionInfoButtons,
.configVersionInfoButtons {
	background: lightgrey;
	text-align: end;
}


.modal-wide {
    max-width: 900px;
}


.table-border-left th {
	border-left: 1px solid #dee2e6;
}

.table-border-left td {
	border-right: 1px solid #dee2e6;
}

.tablesorter-default {
	font-family: 'robotoregular';
	font-size: 14px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  
  nav a.title {
	font-size: 11px;
	width: 155px;
  }
  .navbar-nav > li, .navbar-nav a, .navbar-nav {
	margin: 0;
	padding: 0;
  }
  .tabSessionsListText, .tabSavesListText, .tabConfigVersionsText, .tabSettingsText {
	  display: none;
  }

}

