<turbo-frame id="modalDefaultBody">
    <div class="modal-body" data-modal-gamegeoserver-target="modalGameGeoServerList">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>GeoServer Name</th>
                    <th>Fully-qualified URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for gameGeoServer in gameGeoServers %}
                <tr>
                    <td>{{ gameGeoServer.name }}</td>
                    <td>{{ gameGeoServer.address }}</td>
                    <td>
                        {% if gameGeoServer.id != 1 %}
                        <button type="button" class="btn btn-primary btn-sm"
                            data-geoserver="{{ gameGeoServer.id }}"
                            data-action="modal-gamegeoserver#editGameGeoServerInModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary btn-sm"
                            data-geoserver="{{ gameGeoServer.id }}"
                            data-action="modal-gamegeoserver#toggleGameGeoServerAvailability">
                            {% if gameGeoServer.available == 1 %}
                                <i class="fa fa-eye"></i>
                            {% else %}
                                <i class="fa fa-eye-slash"></i>
                            {% endif %}
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</turbo-frame>
