<turbo-frame id="modalDefaultBody">
    <div class="modal-body" data-modal-gamewatchdogserver-target="modalGameWatchdogServerList">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Watchdog server Name</th>
                    <th>Fully-qualified URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for gameWatchdogServer in gameWatchdogServers %}
                <tr>
                    <td>{{ gameWatchdogServer.name }}</td>
                    <td>{{ gameWatchdogServer.address }}</td>
                    <td>
                        {% if gameWatchdogServer.id != 1 %}
                        <button type="button" class="btn btn-primary btn-sm"
                            data-geoserver="{{ gameWatchdogServer.id }}"
                            data-action="modal-gamewatchdogserver#editGameWatchdogServerInModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary btn-sm"
                            data-geoserver="{{ gameWatchdogServer.id }}"
                            data-action="modal-gamewatchdogserver#toggleGameWatchdogServerAvailability">
                            {% if gameWatchdogServer.available == 1 %}
                                <i class="fa fa-eye"></i>
                            {% else %}
                                <i class="fa fa-eye-slash"></i>
                            {% endif %}
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</turbo-frame>
